<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <strong><%= head.name %></strong><br/>
    <%= head.birth.de %><br/>
    <br/>
    <%= objective.de %>
</body>
</html>